<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-[100vh] w-full m-0 p-0 flex flex-col items-center justify-center">
    <p class="text-[25px]">Wellcome to our site.......</p><br>

    <div>
        <p class="text-[50px] text-center">I am a</p> <br>
        <div class=" flex gap-10">
            <a href="/admin/">
                <button class="border-2 border-[#2d2d2d] rounded-md px-2 py-1 text-[25px]">Admin</button>
            </a>
            <a href="/user/">
                <button class="border-2 border-[#2d2d2d] rounded-md px-2 py-1 text-[25px]">User</button>
            </a>
        </div>
    </div>

</body>
</html>